/*
main.scss
Main Stylesheet
Written by Clive Chan for http://clive.io
*/
@font-face {
  font-family: 'Candara';
  src: url("fonts/Candara.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Candara.eot?#iefix") format("embedded-opentype"), url("fonts/Candara.woff") format("woff"), url("fonts/Candara.ttf") format("truetype"), url("fonts/Candara.svg#svgCandara") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Candara';
  src: url("fonts/Candarab.ttf") format("truetype");
  font-weight: bold; }
body {
  font-family: Candara, Calibri, Verdana, Helvetica, sans-serif; }

a.plain, header a.nav, a.hoverline {
  color: inherit;
  text-decoration: none; }

a.plain:hover, header a.nav:hover {
  text-decoration: none; }

a.hoverline:hover {
  text-decoration: underline; }

.hbg {
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.home {
  background-color: #fff; }

.home.hbg:hover {
  background-color: #ddd; }

.ec {
  background-color: #fcc; }

.ec.hbg:hover {
  background-color: #f77; }

.ml {
  background-color: #bfb; }

/*Note that percieved brightness for green is always brighter*/
.ml.hbg:hover {
  background-color: #66e466; }

.wd {
  background-color: #ccf; }

.wd.hbg:hover {
  background-color: #88f; }

canvas#delaunay-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1000; }

header {
  padding-top: 8%;
  padding-bottom: 13%;
  background-color: white;
  position: absolute;
  left: 50%;
  z-index: 1000;
  margin-left: -12.5em;
  width: 25em;
  transition: width 0.5s, height 0.5s, margin-left 0.5s, padding-top 0.5s; }
  header h1, header h2 {
    font-size: 3em;
    margin: 0; }
  header h1 {
    text-align: center; }
  header a.nav {
    display: block;
    text-align: center;
    padding: 1em;
    font-size: 1.3em;
    font-variant: small-caps;
    font-weight: bold; }
  header a.contact {
    font-size: 1.1em;
    display: block;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 0.2em;
    color: blue;
    text-decoration: none; }
    header a.contact:visited {
      color: blue; }
    header a.contact u {
      text-decoration: underline; }
  header a.home {
    display: none; }
  header p {
    text-indent: 20px;
    color: #777;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5em; }

header.minimized {
  margin: 0;
  padding: 0;
  width: 700px;
  display: table;
  height: 2em;
  margin-left: -350px;
  font-size: 1em;
  background-color: transparent; }
  @media (max-width: 800px) {
    header.minimized {
      font-size: 0.6em;
      width: 500px;
      margin-left: -250px; } }
  header.minimized > * {
    display: none !important; }
  header.minimized nav {
    font-size: 0.8em;
    display: table-row !important;
    height: 100%;
    width: auto;
    margin: 0; }
  header.minimized a.nav {
    display: table-cell !important;
    vertical-align: middle;
    /*Literally the only intentionally correct vertical-align middle usage ever.*/
    height: 100%;
    line-height: 2em;
    padding: 0 1em; }

section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 3em; }

footer {
  position: fixed;
  bottom: 0px;
  z-index: 2000;
  left: 50%;
  width: 50em;
  height: 1.3em;
  margin-left: -25em;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 3px 3px 0 0;
  font-size: 0.7em;
  opacity: 0.4; }
  footer a {
    color: white; }

/*# sourceMappingURL=style.css.map */
