#main-header{
	display: block;
	width: 100%;
}
#logo{
	display: block;
	float: left;
}
#logo img{
	display: block;
	margin: 5vh;
	height: 90vh;
	max-height: 50vw;
}
#main-header nav{
	display: block;
	float: left;
}