/*
main.scss
Main Stylesheet
Written by Clive Chan for http://clive.io */
@import url(normalize.css);
/*why can't this just import sigh*/
/*
slides.scss
Stylesheet for slides.js
Written by Clive Chan for http://clive.io */
.slideshow-image-wrapper, .slideshow-text-wrapper {
  text-align: center; }

.slideshow-image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1000; }

.slideshow-text-wrapper {
  position: relative;
  overflow: visible;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
  margin-bottom: 1em; }

.slideshow-text, .slideshow-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s, left 0.5s, right 0.5s;
  opacity: 0;
  z-index: -1000; }

.slideshow-image {
  /*http://stackoverflow.com/a/9265035/1181387*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.slideshow-text, .slideshow-text-filler, .title {
  margin: 0;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -0.03em;
  /*what is up with the width of the r!?*/ }

.title a {
  color: black;
  text-decoration: none; }

.slideshow-image {
  background-color: white; }

.slideshow-text.prev, .slideshow-image.prev {
  left: -50px; }

.slideshow-text.curr, .slideshow-image.curr {
  opacity: 1;
  left: -25px;
  right: -25px;
  z-index: 0; }

.slideshow-text.next, .slideshow-image.next {
  right: -50px; }

.slidehide {
  transition: width 0.5s;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  text-align: right; }

.byline {
  margin-top: 0.5em;
  font-size: 0.5em;
  transition: height 0.5s;
  height: 1.5em;
  display: block;
  overflow: hidden; }

.byline img {
  max-height: 1.5em;
  vertical-align: bottom; }

.slideshow-text-filler {
  transition: height 0.5s;
  height: 0;
  overflow: hidden; }

@font-face {
  font-family: 'Candara';
  src: url("fonts/Candara.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Candara.eot?#iefix") format("embedded-opentype"), url("fonts/Candara.woff") format("woff"), url("fonts/Candara.ttf") format("truetype"), url("fonts/Candara.svg#svgCandara") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Candara';
  src: url("fonts/Candarab.ttf") format("truetype");
  font-weight: bold; }
body {
  font-family: Candara, Calibri, Verdana, Helvetica, sans-serif;
  overflow: hidden; }

a.plain, a.hoverline {
  color: inherit;
  text-decoration: none; }

a.hoverline {
  font-weight: bold;
  color: #666; }

a.plain:hover {
  text-decoration: none; }

a.hoverline:hover {
  text-decoration: underline; }

.hbg {
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.home {
  background-color: #fff; }

.home.hbg:hover {
  background-color: #ddd; }

.ec {
  background-color: #fcc; }

.ec.hbg:hover {
  background-color: #f77; }

.ml {
  background-color: #bfb; }

/*Note that percieved brightness for green is always brighter*/
.ml.hbg:hover {
  background-color: #66e466; }

.wd {
  background-color: #ccf; }

.wd.hbg:hover {
  background-color: #88f; }

canvas#delaunay-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1000; }

header {
  padding: 4em 2em 4em 2em;
  position: fixed;
  left: 50%;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-left: -22em;
  width: 40em;
  transition: left 0.5s; }
  header.sidebar {
    left: 16.5em; }
  header h1, header h2 {
    font-family: Raleway, Candara, Calibri, Verdana, Helvetica, sans-serif;
    font-size: 3em;
    margin: 0; }
  header h1 {
    text-align: center; }
  header a.contact {
    font-size: 1.1em;
    display: inline-block;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    margin: 0.2em 0.5em;
    color: blue;
    text-decoration: none; }
    header a.contact:visited {
      color: blue; }
    header a.contact u {
      text-decoration: underline; }
    header a.contact img {
      height: 1em;
      vertical-align: bottom; }
  header a.home {
    display: none; }
  header p {
    text-indent: 20px;
    color: #777;
    text-align: justify;
    font-size: 1.0em;
    line-height: 1.8em; }

section {
  position: absolute;
  top: 0;
  left: 29em;
  right: 0;
  bottom: 0;
  padding: 2em;
  opacity: 0;
  transition: opacity 0.5s; }
  section h2 {
    margin: 0; }
  section article {
    padding: 2em;
    height: 100%; }

footer {
  position: fixed;
  bottom: 0px;
  z-index: 2000;
  left: 50%;
  width: 50em;
  height: 1.3em;
  margin-left: -25em;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 3px 3px 0 0;
  font-size: 0.7em;
  opacity: 0.15; }
  footer a {
    color: white; }

/*# sourceMappingURL=style.css.map */
