*{transition:all 0.2s;}

body{
	font-family: "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;
}
p{
	text-indent: 20px;
	color: gray;
	font-family: Candara, Calibri;
	text-align: justify;
}
a.plain{
	color:inherit;
	text-decoration:none;
}


.hbg{
	-moz-transition:background-color 0.3s;
	-o-transition:background-color 0.3s;
	-ms-transition:background-color 0.3s;
	-webkit-transition:background-color 0.3s;
	transition:background-color 0.3s;
}
.home{background-color:#fff;}
.home.hbg:hover{background-color:#ddd;}
.eo{background-color:#fcc;}
.eo.hbg:hover{background-color:#f77;}
.ml{background-color:#bfb;} /*Note that percieved brightness for green is always brighter*/
.ml.hbg:hover{background-color:#66e466;}
.wd{background-color:#ccf;}
.wd.hbg:hover{background-color:#88f;}


header{
	padding-top: 3em;
	padding-bottom: 2em;
	background-color:white;
	position:absolute; //not fixed so can scroll
	left:50%;
	z-index:1000;
	margin-left:-10em;
	width:20em;
	font-family: Candara, Calibri;
	h1, h2{
		font-size: 3em;
		margin: 0;
	}
	h1{
		text-align:center;
	}
	a.nav{
		display:block;
		text-align:center;
		padding:1em;
		font-size:1.3em;
		font-variant:small-caps;
		font-weight:bold;
	}
	a.contact{
		display:block;
		text-align:center;
		font-variant:small-caps;
		font-weight:bold;
	}
	a.home{display:none;}
}
header.minimized{
	padding:0;
	font-size:2em;
	width:700px;
	display:table;
	height:1em;
	margin-left:-350px;
	
	@media(max-width:800px){
		font-size:1.3em;
		width:500px;
		margin-left:-250px;
	}
	nav{
		display:table-row;
		width:auto;
		height:1em;
		font-size:1em;
		margin:0;
		@media(max-width:550px){
			display:table-row-group;
			a{
				display:table-row;
			}
		}
	}
	&>*{ //everything except nav needs to be hidden
		display:none;
	}
	nav a.nav{
		display:table-cell;
		vertical-align: middle; /*Literally the only intentionally correct vertical-align middle usage ever.*/
		font-size:0.5em;
		height:2em;
		line-height:2em;
		padding:0 1em;
	}
	h1{
		font-size: 1em;
	}
	a.home{
		@extend .hbg;
	}//add: no hover bgcolor-change when on that page
}

section{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
	padding-top: 3em;
}

footer{
	position:fixed;
	bottom:0px;
	left:50%;
	width:50em;
	margin-left:-25em;
	text-align:center;
	background-color:black;
	color:white;
	border-radius: 3px 3px 0 0;
	font-size: 0.7em;
	opacity:0.2;
}
