#main-header{
	display: block;
	width: 100%;
	nav{
		display: block;
		float: left;
	}
}
#logo{
	display: block;
	float: left;
	img{
		display: block;
		margin: 5vh;
		height: 90vh;
		max-height: 50vw;
	}
}
