$almostwhite: #eee

$titlefont: "Segoe UI", Montserrat, "Open Sans" //- add Gotham from Waterloo
$contentfont: Montserrat //for now
$header-height: 4rem


@keyframes rotate
  0%
    transform: rotate(0deg) scale(1)
  50%
    transform: rotate(720deg) scale(1.4)
  100%
    transform: rotate(1440deg) scale(1)

.linkish
  text-decoration: none //underline
  cursor: default //pointer

html, body
  height: 100%
  width: 100%
  padding: 0
  margin: 0

body
  background-color: black

div#splash-wrap
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: hidden

  canvas#splash
    position: fixed
    z-index: -1000
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 0
    transition: opacity 5s

  aside
    display: none
    z-index: 1000
    cursor: default
    position: absolute
    bottom: -4em
    padding: 2em 1em 3em 1em
    transition: bottom 0.5s, opacity 0.5s
    &:hover
      bottom: -1em
      opacity: 1
    right: 1em
    text-align: right
    font-family: $titlefont
    color: $almostwhite
    opacity: 0.35
    font-size: 0.7em
    z-index: 1000
    #simulation-name
      margin-bottom: 0.5em
      font-size: 1.3em
    ul
      margin: 0
      padding: 0 0 0 1em
      list-style-type: none
      li:before
        content: "-"
        margin-right: 0.5em

body>header
  font-family: $titlefont
  display: block
  height: 100vh
  text-align: center
  color: $almostwhite
  position: relative
  z-index: 100
  overflow: hidden
  
  a
    color: white
  p
    margin: 0.5em 0 0 0
  
  #title
    position: relative
    padding-top: 30vh
    padding-right: 1em
    &>*
      display: inline-block
      vertical-align: middle
    #logo img
      height: 1.5 * $header-height
      filter: invert(100%)
      
      opacity: 0.7
      transition: opacity 0.5s
      &:hover
        opacity: 1
    h1
      font-size: 3.5em
      line-height: $header-height
      margin: 0 0.8em 0 0.5em
    aside
      height: 1.5*$header-height
      width: 0.5*$header-height
    aside a
      display: inline-block
      text-decoration: none
      
      color: inherit
      transition: color 0.4s, background-color 0.4s
      &:hover
        background-color: white
        color: black
        text-shadow: none
      
      font-size: 1.5rem
      height: $header-height / 2
      width: $header-height / 2
      line-height: $header-height / 2
      border-radius: 1px
  
  .tagline
    position: relative
    text-shadow: 0px 0px 5px #000000
    max-width: 40%
    margin: 0 auto
    &>span
      display: inline-block
      margin: 0 0.4em
    .b
      font-weight: bold
  
  #cta //"call to action"
    margin-top: 1em
    text-align: center
    width: 100%
    &>a
      position: relative
      display: inline-block
      padding: 0.2em 0.4em
      bottom: 0
      margin: 1em
      transition: background-color 0.5s, color 0.5s
      text-decoration: none
      color: white
      background-color: transparent
      border: solid 1px white
      border-radius: 5px
      &:hover
        background-color: white
        color: black
