$header-height: 4rem

$almostwhite: #ffffdd

html, body
  height: 100%
  padding: 0
  margin: 0
  font-family: Montserrat

body
  background-color: black

header
  display: block
  min-height: 100%
  canvas#splash
    position: fixed
    top: 0
    z-index: -1000
    opacity: 0.6

header>div#title
  margin-top: 25vh
  text-align: center
  &>*
    display: inline-block
    vertical-align: middle
    color: $almostwhite
  #logo
    img
      height: 2.5 * $header-height
      filter: invert(100%)
      -webkit-filter: invert(100%)
      opacity: 0.7
      transition: opacity 0.5s
      &:hover
        opacity: 1
  h1
    font-size: 3em
    line-height: $header-height
    margin: 0 0.8em 0 0.5em
  aside
    height: $header-height
    width: $header-height
  aside a
    display: inline-block
    text-decoration: none
    color: inherit
    transition: color 0.4s, background-color 0.4s
    &:hover
      background-color: white
      color: black
    font-size: 1.5rem
    height: $header-height / 2
    width: $header-height / 2
    line-height: $header-height / 2
    border-radius: 1px

header>div#subtitle
  margin-bottom: -25vh
  margin-top: 3em
  font-size: 1em
  color: $almostwhite
  text-align: center
  .arrow
    display: inline-block
    position: absolute
    bottom: 1.5em
    text-align: center
    margin: 0 auto
    padding: 1em
    transition: bottom 0.5s, padding-top 0.5s
    &:hover
      padding-top: 2em
      bottom: 0.5em
  a
    color: white

main
  background-color: $almostwhite
  padding: 5% 20%

footer
  background-color: transparent
  height: 10em
  line-height: 10em
  text-align: center
  color: $almostwhite
  a
    color: white
