doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Clive Chan - Software Engineer
    // waldo@clive.io
    // You seem to have found Waldo.
    meta(name="description", content="Clive Chan - Software Engineer")
      //- Change this to the tagline down there
    meta(name="viewport",    content="width=device-width, initial-scale=1, user-scalable=yes")
    meta(name="copyright",   content="Clive Chan, 2015-present")
    meta(name="author",      content="Clive Chan")
    
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet", href="style.css")
    
    script(src="script.js")
    
    script(src='http://d3js.org/d3.v3.min.js')
    script(src="http://wow.techbrood.com/libs/prefixfree.min.js")
    script(src="http://wow.techbrood.com/libs/modernizr.js")
    script(src="http://wow.techbrood.com/libs/jquery/jquery-1.11.1.min.js")
    script(src="lorenz.js")
  body
    header
      canvas#splash
      //- Lorenz, Gravitation, Swarm intelligence, ...
      
      //- position: absolute then switch to position: fixed when scroll to top
      //- idk, something like ::before ::after
      
      div
        a#logo(href="https://clive.io")
          img(src="img/logo.png", alt="awesome personal logo")
          //- Loading animation: this shows up in center and pulses size, then rolls off
          //- to the side and expands into place as the bar fades into being.
        h1 Hi, I'm Clive.
          //span under construction
          //- replace this with Hello! in js
        nav
          //- standard navbar items that invert color on hover, and may have different but all dark colors. Reasonably large text.
          a(href="#scene1") Scene 1
          a(href="#scene2") Scene 2
          a(href="#scene3") Scene 3
        aside
          a(href="mailto:cc@clive.io" title="cc@clive.io") EM
          a(href="https://github.com/cchan", title="cchan") GH
          a.second(href="https://linkedin.com/in/cchan3141" title="cchan3141") LN
          a.second(href="https://twitter.com/cchan3141", title="@cchan3141") TW
          // a(href="https://pgp.mit.edu/pks/lookup?op=get&search=0x5DD681F35FEE0C47" title="7209 384F 80FE FBE1 2945 // CA74 5DD6 81F3 5FEE 0C47") PGP
    main
      section#splash
        //- On scroll down, as the navbar moves up these stay attached to the fixed background and fade out
        
        //- cool animated visualizations - delaunay face, chaos loop thing, machine learning, stereoscopic simulations
        p.subtitle UWaterloo Software Engineering Co-op, Class of 2021.
        p.tagline Self-taught code craftsman. Community STEM outreach leader. Physics/math/compsci fanatic. Expert improv problemsolver. Software engineer.
          //- "connoisseur", "chef"
        p.action Scroll down or just see my 
          a(href="resume.pdf") r&eacute;sum&eacute;
        
        //- feature some <code></code> somewhere... hmm
        
        //- calltoaction: tutoring
        //- calltoaction: webdev
      section
        h2 About
        article
          include:markdown about.md
      section
        h2 Programming Skills
          //- Organize by category in some tabular way
          //- On hover over project photosquares, light up the skills demonstrated
        article
          include:markdown skills.md
      section
        h2 Projects
        article
          include:markdown leadership.md
          include:markdown experience.md
    footer
      span.inlineblock
        a(href="https://github.com/cchan/clive.io", title="GitHub Repository for clive.io") Handcrafted
        |  by Clive with &lt;3, 2015-present.
    script.
      (function(c,l,i,v,e,I,O){c['GoogleAnalyticsObject']=e;c[e]=c[e]||function(){
      (c[e].q=c[e].q||[]).push(arguments)},c[e].l=1*new Date();I=l.createElement(i),
      O=l.getElementsByTagName(i)[0];I.async=1;I.src=v;O.parentNode.insertBefore(I,O)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-62605323-2', 'auto');
      ga('send', 'pageview');
