doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Clive Chan
      //- Add something to title so that it'll show up in search results with a tagline
    // waldo@clive.io
    // You seem to have found Waldo.
    meta(name="description", content="Clive Chan: event coordinator, AI researcher, web designer, high school student.")
      //- Change this
    meta(name="viewport",    content="width=device-width, initial-scale=1, user-scalable=yes")
    meta(name="copyright",   content="Clive Chan, 2015-present")
    meta(name="author",      content="Clive Chan")
    
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet", href="style.css")
    
    script(src="script.js")
  body
    header
      //- position: absolute then switch to position: fixed when scroll to top
      //- idk, something like ::before ::after
      
      a#logo(href="https://clive.io")
        img(src="img/logo.png", alt="awesome personal logo")
        //- Loading animation: this shows up in center and pulses size, then rolls off
        //- to the side and expands into place as the bar fades into being.
      h1 Hi, I'm Clive!
        //span under construction
        //- replace this with Hello! in js
      nav
        //- standard navbar items that invert color on hover, and may have different but all dark colors. Reasonably large text.
        a(href="#scene1") Scene 1
        a(href="#scene2") Scene 2
        a(href="#scene3") Scene 3
      aside
        a(href="mailto:cc@clive.io" title="cc@clive.io") EM
        a(href="https://github.com/cchan", title="@cchan") GH
        a(href="https://twitter.com/cchan3141", title="@cchan3141") TW
        a(href="https://linkedin.com/in/cchan3141" title="cchan3141") LN
        // a(href="https://pgp.mit.edu/pks/lookup?op=get&search=0x5DD681F35FEE0C47" title="7209 384F 80FE FBE1 2945 // CA74 5DD6 81F3 5FEE 0C47") PGP
    main
      section#splash
        //- On scroll down, as the navbar moves up these stay attached to the fixed background and fade out
        
        //- cool animated visualizations - delaunay face, chaos loop thing, machine learning, stereoscopic simulations
        p I'm in the UWaterloo Software Engineering Class of 2021.
        p Self-taught code craftsman, community STEM outreach leader, physics/math/compsci fanatic.
          //- "connoisseur", "chef"
        p Scroll down or just see my 
          a(href="resume.pdf") r&eacute;sum&eacute;
        
        //- calltoaction: tutoring
        //- calltoaction: webdev
      section
        h2 Programming Skills
        article
          h3 Frontend Languages & Frameworks
          ul
            li HTML5 (+ Jade/Pug)
            li CSS3 (+ Sass CSS)
            li JavaScript (+ CoffeeScript, ES6, SocketIO)
            li JQuery
            li AngularJS
            li React
          h3 Backend/Application Languages
          ul
            li Firebase
            li NodeJS (+ExpressJS)
            li PHP
            li MySQL
            li Apache
            li Python (+ Twisted)
            li Java
            li C++
            li iOS
          h3 Development Tools & Platforms
          ul
            li Git, GitHub
            li Amazon EC2 (Bash, SSH)
            li Nmap
            li Raspberry Pi
            li Travis CI
            
            li NPM (+ Gulp)
            li Visual Studio C++
            li Android Studio
            li Eclipse
            li Maven (+JUnit)
          h3 Machine Learning and Other Research
          ul
            li C++
            li Python (NumPy, TensorFlow)
            li Octave/MATLAB
            li R
            li LaTeX
      section
        h2 Leadership
        article
          h3 LexHack
          ul
            li live.lexhack.org
            li lexhack.org
          h3 LMT
          ul
            li lhsmath.org
            li lhsmath.org/LMT
          h3 LexSciBowl
          ul
            li lexscibowl.org
            li vocative.github.io (live.lexscibowl.org/chat)
            li doeqs.clive.io (todo)
    footer
      span.inlineblock
        a(href="https://github.com/cchan/clive.io", title="GitHub Repository for clive.io") Handcrafted
        |  by Clive with &lt;3, 2015-present.
    script.
      (function(c,l,i,v,e,I,O){c['GoogleAnalyticsObject']=e;c[e]=c[e]||function(){
      (c[e].q=c[e].q||[]).push(arguments)},c[e].l=1*new Date();I=l.createElement(i),
      O=l.getElementsByTagName(i)[0];I.async=1;I.src=v;O.parentNode.insertBefore(I,O)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-62605323-2', 'auto');
      ga('send', 'pageview');
