doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport"    content="width=device-width, initial-scale=1, user-scalable=yes")
    
    title Clive Chan - Coder
    // waldo@clive.io
    // You seem to have found Waldo.
    
    meta(name="description" content="Code craftsman. Community STEM outreach leader. Physics/math/compsci fanatic. Expert problemsolver. Aspiring software engineer. Welcome to my domain.")
    meta(name="copyright"   content="Clive Chan, 2015-present")
    meta(name="author"      content="Clive Chan (cc@clive.io)")
    
    meta(name="theme-color" content="mediumblue")
    meta(name="msapplication-navbutton-color" content="mediumblue")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="og:image" content="https://clive.io/img/logo.png")
    meta(name="og:email" content="cc@clive.io")
    //- add favicon and apple-touch-icon
    
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet" href="style.css")
  body
    div#splash-wrap
      canvas#splash
      aside#simulation-info
        div#simulation-name
        div#simulation-note
        //- eventually be able to click to expand and different visualizations
    //- Lorenz, Gravitation, Swarm intelligence
    //- delaunay face, chaos loop thing, machine learning, stereoscopic simulations
    //- threeJS webgl...?, 3D wireframes (with perhaps images in the triangles of the wireframe?)
    
    header
      div#title
        span#logo
          img(src="img/logo.png" alt="awesome personal logo")
          //- Loading animation: this shows up in center and pulses size, then rolls off
          //- to the side then expands into place as the other elements do the slide-in animation.
        h1 Clive Chan
        aside
          a(href="mailto:cc@clive.io" title="cc@clive.io")
            i.fa.fa-envelope(aria-label="email")
          a(href="https://github.com/cchan" title="cchan")
            i.fa.fa-github(aria-label="github")
          a.second(href="https://linkedin.com/in/cchan3141" title="cchan3141")
            i.fa.fa-linkedin(aria-label="linkedin")
      
      p.tagline
        span
          span UWaterloo Software Engineering Co-op,
          span Class of 2021.
        span Community STEM outreach leader.
        span Compsci/<wbr>physics/<wbr>math fanatic.
        span Aspiring software engineer.
      div(id="cta")
        a(href="resume.pdf") r&eacute;sum&eacute;
    
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.1/d3.min.js" integrity="sha256-4l+MLGOR7l/v3VuQiGgchPcP2mEDT/9zq+JTLqBdFL8=" crossorigin="anonymous")
    script(defer src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous")
    //- script(defer src="https://unpkg.com/whoosh-js@1.0.2/whoosh.min.js" integrity="sha384-bToX25nKsP39knZkNcS7ngaMMmmBwsXAdrw4w/vq/7srDIx4EtpPP8pIv8f5pyrc" crossorigin="anonymous")
    script(defer src="script.js")
