doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Clive Chan - Software Engineer
    // waldo@clive.io
    // You seem to have found Waldo.
    meta(name="description", content="Clive Chan - Software Engineer")
      //- Change this to the tagline down there
    meta(name="viewport",    content="width=device-width, initial-scale=1, user-scalable=yes")
    meta(name="copyright",   content="Clive Chan, 2015-present")
    meta(name="author",      content="Clive Chan")
    
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet", href="style.css")
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.1.1/d3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="lorenz.js")
  body
    header
      //- Need a color scheme. Let's go with navy blue, black, white.
      
      canvas#splash
      //- Lorenz, Gravitation, Swarm intelligence, ...
      
      //- position: absolute then switch to position: fixed when scroll to top
      //- idk, something like ::before ::after
      
      div#title
        a#logo(href="https://clive.io")
          img(src="img/logo.png", alt="awesome personal logo")
          //- Loading animation: this shows up in center and pulses size, then rolls off
          //- to the side and expands into place as the bar fades into being.
        h1 Clive Chan
          //span under construction
          //- replace this with Hello! in js
        aside
          a(href="mailto:cc@clive.io" title="cc@clive.io")
            i(class="fa fa-envelope" aria-label="email")
          a(href="https://github.com/cchan", title="cchan")
            i(class="fa fa-github" aria-label="github")
          a.second(href="https://linkedin.com/in/cchan3141" title="cchan3141")
            i(class="fa fa-linkedin" aria-label="linkedin")
          a.second(href="https://twitter.com/cchan3141", title="@cchan3141")
            i(class="fa fa-twitter" aria-label="twitter")
      div#subtitle
        //- On scroll down, as the navbar moves up these stay attached to the fixed background and fade out
        
        //- cool animated visualizations - delaunay face, chaos loop thing, machine learning, stereoscopic simulations
        p.school UWaterloo Software Engineering Co-op, Class of 2021.
        p.tagline Code craftsman. Community STEM outreach leader. Physics/math/compsci fanatic. Expert improv problemsolver. Software engineer.
          //- "connoisseur", "chef"
        p.action Scroll down or just see my 
          a(href="resume.pdf") r&eacute;sum&eacute;
        p(style="color:red") under construction
        
        a(href="#about", class="arrow")
          img(src="img/scroll_down.png", alt="scroll down arrow")
        
        //- feature some <code></code> somewhere... hmm
        
        //- calltoaction: tutoring
        //- calltoaction: webdev
    main
      section#about
        include:marked about.md
      section
        include:marked skills.md
      section
        include:marked experience.md
        include:marked leadership.md
        include:marked projects.md
    footer
      span.inlineblock
        a(href="https://github.com/cchan/clive.io", title="GitHub Repository for clive.io") Handcrafted
        |  by Clive with &lt;3, 2015-present.
    script.
      //Smooth scrolling, copied from calcbee/onestep.
      //Originally adapted from //http://www.paulund.co.uk/smooth-scroll-to-internal-links-with-jquery
      $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();

        var target = this.hash;
        var $target = $(target);

        $('html, body').stop().animate({
          'scrollTop': $target.offset().top
        }, 900, 'swing', function () {
          window.location.hash = target;
        });
      });
      
      (function(c,l,i,v,e,I,O){c['GoogleAnalyticsObject']=e;c[e]=c[e]||function(){
      (c[e].q=c[e].q||[]).push(arguments)},c[e].l=1*new Date();I=l.createElement(i),
      O=l.getElementsByTagName(i)[0];I.async=1;I.src=v;O.parentNode.insertBefore(I,O)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-62605323-2', 'auto');
      ga('send', 'pageview');
