@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v5/32nyIRHyCu6iqEka_hbKsugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$FFallback: "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;


.inlineblock{display: inline-block;}



body{
	width: 100%;
	font-family: 'Open Sans';
  background-color: #eee;
  color: black;
  a, a:visited, a:active{
    color: #777;
  }
  padding:0; margin:0;
}

#splash{
	display: block;
	width: 100%;
	text-align: center;
  min-height: 100vh;
  margin-bottom: 3em;
	h1{
		margin: 0;
	}
	article{
    margin-left: auto; margin-right: auto;
		font-size: 1.2em;
    width: 30em;
    max-width: 90%;
	}
	nav{
		display: block;
		float: left;
	}
}
#logo{
	display: block;
  a{
    display: inline-block;
    line-height: 0;
    font-size: 4vw;
    @media(max-width: 800px){font-size: 10vw;}
    width: 3em;
    border-radius: 50%;
    padding: 0.1em;
    margin: 0.5em;
    transition: background-color 0.5s;
    &:hover{
      background-color: #ddd;
    }
    img{
      width: 100%;
    }
  }
}

main{
}
section{
  color: black;
  a, a:visited, a:active{color: #888;}
  width: 50%;
  margin: 2em auto;
  padding: 1em;
  h2{
    margin: 0;
    text-align: center;
  }
}

footer{
  opacity: 0.3;
  text-align: center;
  padding: 3%;
}
